.customers {
  float: right;
  background-color: #f2f3f4;
  height: 100%;
  width: 80%;

  @media screen and(max-width:1279px) {
    background-color: white;
  }
  @media screen and(max-width:767px) {
    width: 100%;
  }
}

.customers--mob__wrapper {
  @media screen and(min-width:767px) {
    display: none;
  }
}

.customers--button__mob {
  position: absolute;
  margin-top: 20px;
  margin-left: 30px;
  @media screen and(min-width:767px) {
    display: none;
  }
}
.customers--wrapper {
  margin-left: 71px;
  margin-top: 41px;
  margin-right: 95px;

  @media screen and(max-width:1279px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.customers--name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  @media screen and(max-width:1279px) {
    text-align: center;
  }
  @media screen and(max-width:425px) {
    text-align: right;
  }
}

.customers--list__wrapper {
  padding-left: 38px;
  margin-top: 51px;
  background-color: white;

  @media screen and(max-width:767px) {
    padding-left: 10px;
  }
}

.customers--title {
  padding-top: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.01em;
}

.customers--title--active {
  margin-top: 7px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #16c098;
}

.customers--search {
  padding: 7 0 7 40;
  width: 216px;
  height: 38px;
  background: url(../images/search.png) no-repeat 8px center;
  background-color: #f9fbff;
  border: #e7e7e7;
  border-radius: 10px;
}
.customers--wrapper__search {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 53px;
}

.customers--table__wrapper {
  margin-right: 40px;
  @media screen and(max-width:767px) {
    margin-right: 10px;
  }
}

.customers--table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

.customers--table__line {
  border-bottom: 1px solid #eeeeee;
}

.customers--title__table {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #b5b7c0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.customers--info__text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #292d32;
  padding-top: 20px;
  padding-bottom: 20px;
}

.customers--btn__active {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #008767;
  width: 80px;
  height: 29px;
  background-color: rgba(22, 192, 152, 0.38);
  border: 1px solid #00b087;
  border-radius: 4px;
  @media screen and(max-width:767px) {
    width: 60px;
  }
}

.customers--btn__inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #df0404;
  width: 80px;
  height: 29px;
  background-color: #ffc5c5;
  border: 1px solid #df0404;
  border-radius: 4px;
  @media screen and(max-width:767px) {
    width: 60px;
  }
}

.customers--pagination__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 32 40 40 38;

  @media screen and(max-width:767px) {
    display: block;
    text-align: center;
    padding: 32 0 40 0;
  }
}

.customers--pagination__text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #b5b7c0;

  @media screen and(max-width:767px) {
    margin-bottom: 10px;
  }
}
