<aside class="aside">
  <div class="aside--wrapper">
    <div class="logo--wrapper">
      <img width="37" height="37" class="logo--svg" src="./images/logo.svg" />
      <div class="logo--wrapper__text">
        <p class="logo--text">Dashboard</p>
        <span class="logo-text__version">v.01</span>
      </div>
    </div>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <div class="navigation__item--wraper">
            <img
              width="24"
              height="24"
              class="Svg"
              src="./images/Dasboard.svg"
            />
            <p class="navigation__text">Dashboard</p>
          </div>
          <img
            width="16"
            height="16"
            class="navigation--chevron"
            src="./images/chevron-right 2.svg"
          />
        </li>
        <li class="navigation__item">
          <div class="navigation__item--wraper">
            <img
              width="24"
              height="24"
              class="Svg"
              src="./images/product.svg"
            />
            <p class="navigation__text">Product</p>
          </div>
          <img
            width="16"
            height="16"
            class="navigation--chevron"
            src="./images/chevron-right 2.svg"
          />
        </li>
        <li class="navigation__item navigation__item--active">
          <div class="navigation__item--wraper">
            <img width="24" height="24" src="./images/customers.svg" />
            <p class="navigation__text navigation__text--active">Customers</p>
          </div>
          <img
            width="16"
            height="16"
            class="navigation--chevron"
            src="./images/chevron-right-white 2.png"
          />
        </li>
        <li class="navigation__item">
          <div class="navigation__item--wraper">
            <img width="24" height="24" class="Svg" src="./images/incom.svg" />
            <p class="navigation__text">Income</p>
          </div>
          <img
            width="16"
            height="16"
            class="navigation--chevron"
            src="./images/chevron-right 2.svg"
          />
        </li>
        <li class="navigation__item">
          <div class="navigation__item--wraper">
            <img width="24" height="24" class="Svg" src="./images/promot.svg" />
            <p class="navigation__text">Promote</p>
          </div>
          <img
            width="16"
            height="16"
            class="navigation--chevron"
            src="./images/chevron-right 2.svg"
          />
        </li>
        <li class="navigation__item">
          <div class="navigation__item--wraper">
            <img width="24" height="24" class="Svg" src="./images/Help.svg" />
            <p class="navigation__text">Help</p>
          </div>
          <img
            width="16"
            height="16"
            class="navigation--chevron"
            src="./images/chevron-right 2.svg"
          />
        </li>
      </ul>
    </nav>

    <div class="avatar--wrapper">
      <img src="./images/Ellipse 8.png" alt="avatar" />
      <div class="avatar--wrapper__text">
        <p class="avatar--name">Evano</p>
        <p class="avatar--position">Project Manager</p>
      </div>
    </div>
  </div>
</aside>
