<!--! Mobile menu -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal form__body" id="form__body">
    <!-- Close Button -->
    <button type="button" class="button-modal" data-modal-close>
      <img src="./images/icons8.svg" alt="close" />
    </button>
    <ul class="navigation__list">
      <li class="navigation__item">
        <div class="navigation__item--wraper">
          <img width="24" height="24" class="Svg" src="./images/Dasboard.svg" />
          <p class="navigation__text">Dashboard</p>
        </div>
        <img
          width="16"
          height="16"
          class="navigation--chevron"
          src="./images/chevron-right 2.svg"
        />
      </li>
      <li class="navigation__item">
        <div class="navigation__item--wraper">
          <img width="24" height="24" class="Svg" src="./images/product.svg" />
          <p class="navigation__text">Product</p>
        </div>
        <img
          width="16"
          height="16"
          class="navigation--chevron"
          src="./images/chevron-right 2.svg"
        />
      </li>
      <li class="navigation__item navigation__item--active">
        <div class="navigation__item--wraper">
          <img width="24" height="24" src="./images/customers.svg" />
          <p class="navigation__text navigation__text--active">Customers</p>
        </div>
        <img
          width="16"
          height="16"
          class="navigation--chevron"
          src="./images/chevron-right-white 2.png"
        />
      </li>
      <li class="navigation__item">
        <div class="navigation__item--wraper">
          <img width="24" height="24" class="Svg" src="./images/incom.svg" />
          <p class="navigation__text">Income</p>
        </div>
        <img
          width="16"
          height="16"
          class="navigation--chevron"
          src="./images/chevron-right 2.svg"
        />
      </li>
      <li class="navigation__item">
        <div class="navigation__item--wraper">
          <img width="24" height="24" class="Svg" src="./images/promot.svg" />
          <p class="navigation__text">Promote</p>
        </div>
        <img
          width="16"
          height="16"
          class="navigation--chevron"
          src="./images/chevron-right 2.svg"
        />
      </li>
      <li class="navigation__item">
        <div class="navigation__item--wraper">
          <img width="24" height="24" class="Svg" src="./images/Help.svg" />
          <p class="navigation__text">Help</p>
        </div>
        <img
          width="16"
          height="16"
          class="navigation--chevron"
          src="./images/chevron-right 2.svg"
        />
      </li>
    </ul>
  </div>
</div>
