<aside class="aside">
  <div class="logo--wraper">
    <img width="37" height="37" class="logo--svg" src="./images/logo.svg" />
    <div class="logo--wrapper__text">
      <p class="logo--text">Dashboard</p>
      <span class="logo-text__version">v.01</span>
    </div>
  </div>

  <div>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <img width="24" height="24" class="Svg" src="./images/Dasboard.svg" />
          <p class="navigation__text">Dashboard</p>
        </li>
        <li class="navigation__item">
          <img width="24" height="24" class="Svg" src="./images/product.svg" />
          <p class="navigation__text">Product</p>
        </li>
        <li class="navigation__item">
          <img
            width="24"
            height="24"
            class="Svg"
            src="./images/customers.svg"
          />
          <p class="navigation__text">Customers</p>
        </li>
        <li class="navigation__item">
          <img width="24" height="24" class="Svg" src="./images/incom.svg" />
          <p class="navigation__text">Income</p>
        </li>
        <li class="navigation__item">
          <img width="24" height="24" class="Svg" src="./images/promot.svg" />
          <p class="navigation__text">Promote</p>
        </li>
        <li class="navigation__item">
          <img width="24" height="24" class="Svg" src="./images/Help.svg" />
          <p class="navigation__text">Help</p>
        </li>
      </ul>
    </nav>
  </div>
</aside>
